.elementor-kit-7 {
    --e-global-color-primary: #6EC1E4;
    --e-global-color-secondary: #54595F;
    --e-global-color-text: #7A7A7A;
    --e-global-color-accent: #61CE70;
    --e-global-color-dea41e4: #FFFFFF;
    --e-global-color-a185853: #ff7029;
    --e-global-color-308e809: #121228;
    --e-global-color-a291686: #FFFFFF;
    --e-global-color-91455cb: #717171;
    --e-global-color-100efa4: #0A89FF;
    --e-global-color-3460580: #FF3BF6;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    --e-global-typography-b2ce6af-font-family: "Heebo";
    --e-global-typography-b2ce6af-font-size: 16px;
    --e-global-typography-b2ce6af-line-height: 1.9em;
    --e-global-typography-69c152f-font-family: "Heebo";
    --e-global-typography-69c152f-font-size: 14px;
    --e-global-typography-69c152f-line-height: 1.9em;
    --e-global-typography-520c191-font-family: "Yantramanav";
    --e-global-typography-520c191-font-size: 18px;
    --e-global-typography-520c191-font-weight: 500;
    --e-global-typography-583e54c-font-family: "Yantramanav";
    --e-global-typography-583e54c-font-size: 67px;
    --e-global-typography-583e54c-font-weight: 600;
    --e-global-typography-583e54c-line-height: 1em;
    --e-global-typography-583e54c-letter-spacing: -2px;
    --e-global-typography-5d167aa-font-family: "Yantramanav";
    --e-global-typography-5d167aa-font-size: 51px;
    --e-global-typography-5d167aa-font-weight: 600;
    --e-global-typography-5d167aa-line-height: 1.1em;
    --e-global-typography-d3dae9a-font-family: "Yantramanav";
    --e-global-typography-d3dae9a-font-size: 38px;
    --e-global-typography-d3dae9a-font-weight: 600;
    --e-global-typography-d3dae9a-line-height: 1.2em;
    --e-global-typography-83682a1-font-family: "Yantramanav";
    --e-global-typography-83682a1-font-size: 28px;
    --e-global-typography-83682a1-font-weight: 600;
    --e-global-typography-83682a1-line-height: 1.3em;
    --e-global-typography-7044a64-font-family: "Yantramanav";
    --e-global-typography-7044a64-font-size: 21px;
    --e-global-typography-7044a64-font-weight: 600;
    --e-global-typography-7044a64-line-height: 1.2em;
    --e-global-typography-84ca66e-font-family: "Yantramanav";
    --e-global-typography-84ca66e-font-size: 18px;
    --e-global-typography-84ca66e-font-weight: 400;
    --e-global-typography-84ca66e-line-height: 1.5em;
    --e-global-typography-112b6c4-font-family: "Heebo";
    --e-global-typography-112b6c4-font-size: 13px;
    --e-global-typography-112b6c4-font-weight: 400;
    color: var(--e-global-color-dea41e4);
    font-family: var(--e-global-typography-b2ce6af-font-family), Sans-serif;
    font-size: var(--e-global-typography-b2ce6af-font-size);
    line-height: var(--e-global-typography-b2ce6af-line-height);
    letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
    word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    background-color: #07071C;
}

.elementor-kit-7 a {
    color: var(--e-global-color-dea41e4);
}

.elementor-kit-7 a:hover {
    color: var(--e-global-color-a185853);
}

.elementor-kit-7 h1 {
    font-family: var(--e-global-typography-583e54c-font-family), Sans-serif;
    font-size: var(--e-global-typography-583e54c-font-size);
    font-weight: var(--e-global-typography-583e54c-font-weight);
    line-height: var(--e-global-typography-583e54c-line-height);
    letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
    word-spacing: var(--e-global-typography-583e54c-word-spacing);
}

.elementor-kit-7 h2 {
    font-family: var(--e-global-typography-5d167aa-font-family), Sans-serif;
    font-size: var(--e-global-typography-5d167aa-font-size);
    font-weight: var(--e-global-typography-5d167aa-font-weight);
    line-height: var(--e-global-typography-5d167aa-line-height);
    letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
    word-spacing: var(--e-global-typography-5d167aa-word-spacing);
}

.elementor-kit-7 h3 {
    font-family: var(--e-global-typography-d3dae9a-font-family), Sans-serif;
    font-size: var(--e-global-typography-d3dae9a-font-size);
    font-weight: var(--e-global-typography-d3dae9a-font-weight);
    line-height: var(--e-global-typography-d3dae9a-line-height);
    letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
    word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
}

.elementor-kit-7 h4 {
    font-family: var(--e-global-typography-83682a1-font-family), Sans-serif;
    font-size: var(--e-global-typography-83682a1-font-size);
    font-weight: var(--e-global-typography-83682a1-font-weight);
    line-height: var(--e-global-typography-83682a1-line-height);
    letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
    word-spacing: var(--e-global-typography-83682a1-word-spacing);
}

.elementor-kit-7 h5 {
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
}

.elementor-kit-7 h6 {
    color: var(--e-global-color-a185853);
    font-family: var(--e-global-typography-84ca66e-font-family), Sans-serif;
    font-size: var(--e-global-typography-84ca66e-font-size);
    font-weight: var(--e-global-typography-84ca66e-font-weight);
    line-height: var(--e-global-typography-84ca66e-line-height);
    letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
    word-spacing: var(--e-global-typography-84ca66e-word-spacing);
}

.elementor-kit-7 button,
.elementor-kit-7 input[type="button"],
.elementor-kit-7 input[type="submit"],
.elementor-kit-7 .elementor-button {
    font-weight: 500;
    color: #fff;
    background-color: #f26c4f;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 30px 30px 30px;
}

.elementor-kit-7 button:hover,
.elementor-kit-7 button:focus,
.elementor-kit-7 input[type="button"]:hover,
.elementor-kit-7 input[type="button"]:focus,
.elementor-kit-7 input[type="submit"]:hover,
.elementor-kit-7 input[type="submit"]:focus,
.elementor-kit-7 .elementor-button:hover,
.elementor-kit-7 .elementor-button:focus {
    color: var(--e-global-color-a291686);
    background-color: var(--e-global-color-a185853);
    /* box-shadow: 0px 0px 20px 0px rgba(2.0000000000000187, 224.00000000000009, 184.00000000000009, 0.39); */
    border-style: solid;
    border-width: 0px 0px 0px 0px;
}

.elementor-kit-7 label {
    font-weight: 600;
    line-height: 1.5em;
}

.elementor-kit-7 input:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea,
.elementor-kit-7 .elementor-field-textual {
    color: #fff;
    background-color: var(--e-global-color-308e809);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-308e809);
    border-radius: 30px 30px 30px 30px;
}

.elementor-kit-7 input:focus:not([type="button"]):not([type="submit"]),
.elementor-kit-7 textarea:focus,
.elementor-kit-7 .elementor-field-textual:focus {
    color: #dbd7d7;
    background-color: var(--e-global-color-a291686);
    /* box-shadow: 0px 0px 30px 0px rgba(2.0000000000000178, 223.99999999999997, 184, 0.28); */
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-a185853);
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1280px;
}

.e-con {
    --container-max-width: 1280px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

.elementor-element {
    --widgets-spacing: 20px;
}

    {}

h1.entry-title {
    display: var(--page-title-display);
}

.elementor-kit-7 e-page-transition {
    background-color: #FFBC7D;
}

.site-header {
    padding-right: 0px;
    padding-left: 0px;
}

@media(max-width:1024px) {
    .elementor-kit-7 {
        --e-global-typography-b2ce6af-font-size: 15px;
        --e-global-typography-69c152f-font-size: 13px;
        --e-global-typography-520c191-font-size: 17px;
        --e-global-typography-583e54c-font-size: 63px;
        --e-global-typography-5d167aa-font-size: 47px;
        --e-global-typography-d3dae9a-font-size: 36px;
        --e-global-typography-83682a1-font-size: 27px;
        --e-global-typography-7044a64-font-size: 20px;
        --e-global-typography-84ca66e-font-size: 17px;
        --e-global-typography-112b6c4-font-size: 12px;
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-583e54c-font-size);
        line-height: var(--e-global-typography-583e54c-line-height);
        letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
        word-spacing: var(--e-global-typography-583e54c-word-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-5d167aa-font-size);
        line-height: var(--e-global-typography-5d167aa-line-height);
        letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
        word-spacing: var(--e-global-typography-5d167aa-word-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-d3dae9a-font-size);
        line-height: var(--e-global-typography-d3dae9a-line-height);
        letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
        word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-84ca66e-font-size);
        line-height: var(--e-global-typography-84ca66e-line-height);
        letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
        word-spacing: var(--e-global-typography-84ca66e-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width:767px) {
    .elementor-kit-7 {
        --e-global-typography-b2ce6af-font-size: 14px;
        --e-global-typography-69c152f-font-size: 12px;
        --e-global-typography-520c191-font-size: 16px;
        --e-global-typography-583e54c-font-size: 35px;
        --e-global-typography-5d167aa-font-size: 29px;
        --e-global-typography-d3dae9a-font-size: 24px;
        --e-global-typography-83682a1-font-size: 20px;
        --e-global-typography-7044a64-font-size: 16px;
        --e-global-typography-84ca66e-font-size: 16px;
        --e-global-typography-112b6c4-font-size: 11px;
        font-size: var(--e-global-typography-b2ce6af-font-size);
        line-height: var(--e-global-typography-b2ce6af-line-height);
        letter-spacing: var(--e-global-typography-b2ce6af-letter-spacing);
        word-spacing: var(--e-global-typography-b2ce6af-word-spacing);
    }

    .elementor-kit-7 h1 {
        font-size: var(--e-global-typography-583e54c-font-size);
        line-height: var(--e-global-typography-583e54c-line-height);
        letter-spacing: var(--e-global-typography-583e54c-letter-spacing);
        word-spacing: var(--e-global-typography-583e54c-word-spacing);
    }

    .elementor-kit-7 h2 {
        font-size: var(--e-global-typography-5d167aa-font-size);
        line-height: var(--e-global-typography-5d167aa-line-height);
        letter-spacing: var(--e-global-typography-5d167aa-letter-spacing);
        word-spacing: var(--e-global-typography-5d167aa-word-spacing);
    }

    .elementor-kit-7 h3 {
        font-size: var(--e-global-typography-d3dae9a-font-size);
        line-height: var(--e-global-typography-d3dae9a-line-height);
        letter-spacing: var(--e-global-typography-d3dae9a-letter-spacing);
        word-spacing: var(--e-global-typography-d3dae9a-word-spacing);
    }

    .elementor-kit-7 h4 {
        font-size: var(--e-global-typography-83682a1-font-size);
        line-height: var(--e-global-typography-83682a1-line-height);
        letter-spacing: var(--e-global-typography-83682a1-letter-spacing);
        word-spacing: var(--e-global-typography-83682a1-word-spacing);
    }

    .elementor-kit-7 h5 {
        font-size: var(--e-global-typography-7044a64-font-size);
        line-height: var(--e-global-typography-7044a64-line-height);
        letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
        word-spacing: var(--e-global-typography-7044a64-word-spacing);
    }

    .elementor-kit-7 h6 {
        font-size: var(--e-global-typography-84ca66e-font-size);
        line-height: var(--e-global-typography-84ca66e-line-height);
        letter-spacing: var(--e-global-typography-84ca66e-letter-spacing);
        word-spacing: var(--e-global-typography-84ca66e-word-spacing);
    }

    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}

@media only screen and (min-width: 1000px) {
    #earn-with-us .elementor-element-a41a77d {
        padding-left: 2em;
    }

    #earn-with-us .elementor-element-9bbc2eb .elementskit-infobox,
    #earn-with-us .elementor-element-92baf85 .elementskit-infobox {
        padding-left: 0em;
    }
    #earn-with-us .elementor-element-45a16db-12 .elementor-element-32aad3c>.elementor-element-populated {
        padding: 1em 2em;
    }
    #earn-with-us .elementor-element-45a16db-12 .elementor-col-30  {
        margin-left: 2em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    #earn-with-us .elementor-element-32aad3c{
        width: 100%;
    }
    #earn-with-us .elementor-element-45a16db .elementor-element-a79ed24 .elementor-wrapper div{
        text-align: center !important;
    }
    #earn-with-us .elementor-element-45a16db-12 .elementor-element-a79ed24 .elementor-wrapper{
        --video-aspect-ratio: 0;
    }
}

#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion.accoedion-primary .elementskit-card .elementskit-card-header>.elementskit-btn-link[aria-expanded="true"],
#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion .elementskit-card-header>.elementskit-btn-link[aria-expanded=true],
#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion.floating-style .elementskit-card .elementskit-btn-link[aria-expanded="true"] {
    background: linear-gradient(90deg, #d46025, #843919);
    border-radius: 10px 10px 0px 0px ;
}

#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion .elementskit-card-body,
#earn-with-us .elementor-element-5cb9c5d .accordion.floating-style .elementskit-card-body {
    background: linear-gradient(180deg, #392338, #201b44);
    color: #fff;
}

#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion .elementskit-card-body {
    border-radius: 0px 0px 10px 10px;
    padding: 28px 28px 28px 28px;
}

#earn-with-us .elementor-element-5cb9c5d .elementskit-accordion .elementskit-card-header>.elementskit-btn-link{
    font-family: var(--e-global-typography-7044a64-font-family), Sans-serif;
    font-size: var(--e-global-typography-7044a64-font-size);
    font-weight: var(--e-global-typography-7044a64-font-weight);
    line-height: var(--e-global-typography-7044a64-line-height);
    letter-spacing: var(--e-global-typography-7044a64-letter-spacing);
    word-spacing: var(--e-global-typography-7044a64-word-spacing);
    color: var(--e-global-color-dea41e4);
    background: linear-gradient(180deg, #1e2059, #1e1b46);
    border-radius: 10px 10px 10px 10px;
    padding: 28px 28px 28px 28px;
}

#earn-with-us thead {
    background: linear-gradient(45deg, #d46026, #843a18);
}
#earn-with-us tbody {
    background: #0c112c;
}
#earn-with-us .elementor-element-f862599 {
    background: linear-gradient(180deg, #232c4e, #121839);
    padding: 0em 0em 2em 0em;
    margin-top: 0px;
}
#earn-with-us .elementor-element-45a16db {
    background: linear-gradient(90deg, #131a3f, #0b1129);
}

#earn-with-us .elementor-element-45a16db-12 {
    padding: 0em 2em 1em;
    background: linear-gradient(180deg, #13193b, #111737);
}
